extends layout

block content
  h1 Enter login info
  form
    div Username:
    input(type='text' name='username')
    div Password:
    input(type='text' name='password')
    br
    input(type='submit' value='Submit')



